@import url('https://fonts.googleapis.com/css2?family=Muli:wght@700&display=swap');


body{
  overflow-x:hidden;
  font-family: 'Muli', sans-serif;
  color: #505962;
}
.offset:before {
  display: block;
  content:"";
  color: #505962;
  height: 4rem;
}
/* -- Navigation-- */
.navbar{
  text-transform: uppercase;
  font-weight: 700;
  background: rgba(0,0,0,0.6)!important;
  
}
.navbar-brand img {
  height: 3.5rem;
}
.navbar-nav li{
  padding-right:0.7rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 1rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color:#12aed4;
}

/* -- Landing Page -- */
.home-inner {
  background-image: url(img/learning.jpeg);
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}
.caption h1 {
  font-size: 2.5rem;
   
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 1rem;
}
.caption h3 {
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  padding-bottom: 1.2rem;
}
.btn-lg {
  border-width: medium;
}
/* Course section */

.btn-secondary {
  border-with: medium;
  border-radius: 0;
  text-transform: uppercase;
  padding: .6rem;
  margin: 1rem;
  color: white;
  background-color:#43b9c9;
  border-color: #1ebba3;
}
.btn-secondary:hover {

  background-color:#189582;
  border-color: #1ebba3;
}
/* Features */
.jumbotron {
margin-bottom:0;
padding: 2rem 0 3.5rem;
}
.heading-underline {
  width: 3rem;
  height:.2rem;
  background-color: #12aed4;
  margin: auto;
  margin-bottom: 1.9rem;
}
.feature svg.svg-inline--fa {
  color:#43b9c9;
}
.fixed {
  background-image:url(img/apple.png);
  
}
.dark {
  background-color: rgba(0,0,0,0.75);
  color: white;
  padding: 7rem 2rem;
}
/* Clients */
.clients img {
  width:100%;
  border-radius: 50%;
}
blockquote .svg-inline--fa {
  color: #43b9c9;
  margin: 1rem;
}
.clients-hr {
  border-top: .05rem solid #12aed4;
}
/* Footer */
footer {
  background-color: #40474e;
  color:white;
  padding: 2rem 0 2rem;
  margin-top:1rem;
}
footer img{
  height:3rem;
  margin-bottom: 1.9rem 0;
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
